{% extends 'base.html.twig' %}

{% block title %}Hello ThreadController!{% endblock %}

{% block main %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>D:/Cours/Simplon/Briefs/08-Thread-plon/thread_plon/src/Controller/ThreadController.php</code></li>
        <li>Your template at <code>D:/Cours/Simplon/Briefs/08-Thread-plon/thread_plon/templates/thread/index.html.twig</code></li>
    </ul>

    <p>Bye !</p>
</div>
{% endblock %}
