{% extends 'base.html.twig' %}

{% block title %}Créer un thread{% endblock %}

{% block main %}
    


    {% if app.user %}
        <a href="" class="btn btn_full">Répondre</a>
    {% endif %}
    
{% endblock %}