<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_homepage') }}">
        <img src="{{ asset('img/logo_threadplon_full.png') }}" alt="logo Thread-plon">
    </a>
    <div>
        <form class="container-fluid justify-content-start">
            <button class="btn btn-outline btn_outline" type="button">Sign-in</button>
            <button class="btn btn_full" type="button">Sign-up</button>
        </form>
    </div>
  </div>
</nav>